#content{
  margin-left: auto;
  margin-right: auto;
  width: 650px;

}

#greeting-container {
  margin-top: 15px;
}

#background {
    background: lightblue;
    background: radial-gradient(circle, lightblue, white)
}
#beach_background {
    background: rgb(255,19,0);
    background: radial-gradient(circle, rgba(255,19,0,1) 0%, rgba(255,254,0,0.5900735294117647) 85%);
}

#quote_container {
    margin-top: 15px;
}

#header1 {  
    text-align: center;
    background-color: lightgray;
    border: 10px solid;
    padding: 5px;    
}

/*Center Images*/
.center { 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Navigation bar style */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navigation Links Style */
.topnav a {
  float: left;
  display: block;
  color: lightgray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Link Color Hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/*Social Media Buttons*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 100px 4px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

.fa-gmail {
    background: #b13c2c;
    color: white;
}